body {
	font-size: 20px;
	margin: 0;
	@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
	padding: 0;
	font-family: "SF-Pro-Text-Regular";

	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
	-ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
	user-select: none; /* Propriété standard */
}

.phone_infoBare {
	font-family: "SF-Pro-Text-Regular";
	height: 35px;
	color: #fff;
}

.phone_app {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.phone_title {
	display: flex;
	justify-content: space-between;
	padding-left: 24px;
	padding-top: 6px;
	height: 40px;
	line-height: 52px;
	font-size: 20px;
	font-weight: 500;
	padding-left: 64px;
	font-family: "SF-Pro-Text-Regular";
}
.btn-back {
	width: 42px;
	height: 42px;
	color: rgba(0, 0, 0, 0.801);
	line-height: 42px;
	border-radius: 50%;
	background-color: transparent;
	border: none;
	margin-top: 30px;
	padding: 0;
	outline: none;
	text-shadow: none;
	text-align: center;
}
.phone_title .btn-back:hover {
	background-color: rgba(255, 255, 255, 0.3);
	color: rgba(0, 0, 0, 0.5);
}

.phone_content {
	height: 100%;
	overflow-y: auto;
}

.phone_wrapper {
	position: absolute;
	bottom: 0vh;
	right: 0vh;
	width: 500px;
	height: 1000px;
	background-size: cover;
}

.phone_coque {
	position: absolute;
	z-index: 999;
	width: 500px;
	height: 1000px;
	pointer-events: none;
}

.phone_screen {
	overflow: hidden;
	position: absolute;
	background-color: white;
	bottom: 100px;
	left: 33px;
	right: 50px;
	top: 33px;

	width: 435px;
	height: 932px;
	border-radius: 15px;

	display: flex;
}

@font-face {
	font-family: "SF-Pro-Display-Bold";
	src: url("../static/img/fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
	font-family: "SF-Pro-Display-Regular";
	src: url("../static/img/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
	font-family: "SF-Pro-Display-Semibold";
	src: url("../static/img/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

@font-face {
	font-family: "SF-Pro-Text-Bold";
	src: url("../static/img/fonts/SF-Pro-Text-Bold.otf") format("opentype");
}

@font-face {
	font-family: "SF-Pro-Text-Light";
	src: url("../static/img/fonts/SF-Pro-Text-Light.ttf") format("truetype");
}

@font-face {
	font-family: "SF-Pro-Text-Medium";
	src: url("../static/img/fonts/SF-Pro-Text-Medium.otf") format("opentype");
}

@font-face {
	font-family: "SF-Pro-Text-Regular";
	src: url("../static/img/fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
	font-family: "SF-Pro-Text-Semibold";
	src: url("../static/img/fonts/SF-Pro-Text-Semibold.otf") format("opentype");
}

* {
	box-sizing: border-box;
}
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}
*::-webkit-scrollbar {
	width: 3px;
	background-color: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: #666;
}
