.shop {
    height: 100%;
    width: 100%;
    background: #101010e3;
    font-family: "Gilroy";
    color: #fff;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 10px 0 10px;

        height: 90px;
        margin-bottom: -90px;

        width: 100%;
        color: rgba(255, 255, 255, 0.671);
        font-weight: 600;

        &:hover {
            transition-duration: 200ms;
            color: #8AFA21;
            text-shadow: 0 0px 10px #8afa214d;
        }
    }
    
    .active {
        color: #8AFA21;
        text-shadow: 0 0px 10px #8afa214d;
    }
}

.case {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .container {
        height: 60%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .cases {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .element {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 350px;
                width: 248px;
                margin: 0 12.5px;
                font-family: "Gilroy";
                font-weight: 600;

                .component {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    padding-bottom: 15px;
                    width: 100%;
                    height: 310px;

                    font-size: 19px;
                    border: 1px solid rgba(255, 255, 255, 0.05);
                    margin-bottom: 10px;
                    background: linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.06));
                }

                .buy {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 60px;
                    width: 100%;
                    font-size: 20px;

                    border: 2px solid #82E229;
                    background-color: #82e22969;

                    &:hover {
                        transition-duration: 200ms;
                        background-color: #82e229c5;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.armes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

    height: 100%;
    width: 100%;

    .container {
        display: flex;
        flex-direction: row;
        height: 65%;
        width: 100%;
    
        .it-1 {
            height: 100%;
            width: calc(15% - 30px);
            // background-color: rgba(0, 0, 0, 0.541);
            padding-top: 30px;
            padding-left: 30px;

            font-family: "Gilroy";
            
            .specification {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 49px;
                width: calc(100% - 20px);
                font-size: 15px;
                padding: 0 10px;
                margin-bottom: 10px;

                background: linear-gradient(to right, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.02));
            
                .indic {
                    height: 3px;
                    width: calc(100% / 4 - 5px);
                    background-color: rgba(255, 255, 255, 0.15);
                }
                
                .ba {
                    background-color: #fff;
                }
            }
            
            .colors {
                .elem {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 37.5px;
                    width: 37.5px;
                    

                    &:hover {
                        transition-duration: 200ms;
                        cursor: pointer;
                        opacity: 0.6;
                    }
                }
            }

            .button-buy {
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 20px;
                font-weight: 600;

                height: 49px;
                width: calc(100% - 4px);

                border: 2px solid #82E229;
                background-color: #82e229cc;

                &:hover {
                    transition-duration: 200ms;
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    
        .it-2 {
            height: 100%;
            width: 70%;
            // background-color: green;

            display: flex;
            align-items: center;
            justify-content: center;

            .comp {
                display: flex;
                align-items: center;

                height: 80%;
                width: 80%;

                z-index: 0;

                .comp-1 {
                    display: flex;
                    flex-direction: column;
                    height: 65%;
                    width: 35%;

                    z-index: 3;
                    font-family: "Gilroy";

                    justify-content: space-between;

                    .elem {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        
                        height: 55px;
                        width: 90px; 
                        margin-right: 10px; 
                        font-size: 12px;

                        
                        border: 1px solid rgba(255, 255, 255, 0.02);
                        background: linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.03));
                      
                    }
                }
            }
        }

        .it-3 {
            padding-top: 35px;
            padding-right: 30px;

            height: 100%;
            width: 15%;

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .items-container {
                height: 80%;
                overflow-y: scroll;
            }

            .items-container::-webkit-scrollbar {
                display: none; 
            }

            .item {
                display: flex;
                flex-direction: column;
                // align-items: center;
                // justify-content: center;

                color: #fff;

                height: 85px;
                font-size: 15px;
                padding: 12.5px;
                margin-bottom: 5px;

                border: 1px solid rgba(255, 255, 255, 0.03);
                background: linear-gradient(to left, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.03));
            }

            .buy {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 30px;
                width: 175px;
                font-weight: 600;
  
                border: 2px solid #82E229;
                background-color: #82e229cc;

                &:hover {
                    transition-duration: 200ms;
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }

    .armes-c {
        margin: 0 auto;
        margin-top: 30px;
        height: 180px;
        width: calc(100% - 58px);

        overflow-y: scroll;

        .container {
            display: inline-block;

            padding: 10px;
    
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 15px;
            height: calc(85% - 30px);
            width: 310px;

            border: 1px solid rgba(255, 255, 255, 0.03);
            background: linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.06));
            border-bottom: 2.5px solid #82E229;

            &:hover {
                transition-duration: 200ms;
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }

    .armes-c::-webkit-scrollbar {
        display: none; 
    }
}
