$red: #dd3131;
$green: #7AF903;
$blue: #3690bd;
$yellow: #ffd149;

.color-blue {
	color: $blue;
	font-weight: 700;
}
.color-green {
	color: $green;
	font-weight: 700;
}
.color-red {
	color: $red;
	font-weight: 700;
}
.color-yellow {
	color: $yellow;
	font-weight: 700;
}
.color-white {
	color: white;
}

.notifications-container {
	position: absolute;
	left: 1.5%;
	top: 1.5%;
	height: calc(100% - 23%);
	overflow: hidden;
	width: 14.1%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	.notification-enter {
		opacity: 0;

		&.notification-enter-active {
			opacity: 1;
			transition: opacity 300ms ease-in;
		}
	}

	.notification-exit {
		opacity: 1;

		&.notification-exit-active {
			opacity: 0.01;
			transition: opacity 300ms ease-out;
		}
	}
}

.notification {
	background: linear-gradient(to right, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.10));
	margin-top: 1vh;
	// font-family: "Circular", Arial, Helvetica, sans-serif;
	color: white;
	padding: 7.5px;

	@keyframes example {
		from {
			width: 100%;
		}
		to {
			width: 0%;
		}
	}

	.notification-header {
		position: relative;
		top: -7.4px;
		left: -7.3px;

		height: 70px;
		width: calc(100% + 15px);

		.banner {
			opacity: 0.7;
			height: 70px;
			width: 100%;
		}
	}

	.time-bar {
		position: relative;
		top: 7.5px;
		left: -7.5px;

		background-color: #7AF903;
		box-shadow: 0 0 10px #7AF903;

		height: 2px;
		width: 0%;
		animation-name: example;
		animation-duration: 4s;
	}



	.content {
		padding: 0.8vh;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: -2px;

		.scl {
			position: absolute;
			left: -14px;
		}

		.icon {
			height: 32.5px;
			width: 32.5px;
			border-radius: 50px;
			margin-right: 10px;

			background-color: rgba(255, 255, 255, 0.15);

			.svg {
				margin: -7.5px;
			}
		}

		.title {
			font-family: "Gilroy-Bold";
			color: #7AF903;
			text-shadow: 0 0px 7.5px #7AF903;
			text-transform: uppercase;
			font-size: 14px;
		}

		.msg {
			font-family: "Gilroy-Medium";
			color: #fff;
			font-size: 12px;
			margin: 0;
		}
	}

	h2 {
		margin: 0;
		font-size: 1.3vh;
		font-weight: normal;
	}

	p {
		margin: 0;
		font-size: 1.3vh;
		font-weight: normal;
	}
}
