#staff {
    height: 100%;
    width: 100%;
	font-family: "Gilroy";
    
 

    .box {
        height: 65px;
        width: 260px;
        border-radius: 15px;
        padding: 20px;
        margin-right: 25px;

        background: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1));


        p {

        }
    }

    // background-color: red;
}
