
.cardealer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100%;
    width: 100%;
    background: #0f0f0f;   
    padding: 30px 45px;
    color: #fff;
}

.vehicleList {
 
     

}