/**********************/
/*** CSS par Romain ***/
/**********************/

/* importations */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


// body {
// 	margin: 0;
// 	padding: 50px 50px;
// 	background: url('img/background.png');
// 	background-size:  cover;
// 	max-height: 100vh;
// 	overflow-y: hidden;

// 	color: white;
// 	font-family: 'Oswald', Arial, sans-serif;

// 	box-sizing: border-box;
// 	user-select: none;
//   ul {
//     padding: 0;
//     list-style: none;
//   }
// }

#concessionnaire {
	

	margin: 0;
	padding: 0 50px;
	background: url('img/background.png');
	background-size:  cover;
	max-height: 100vh;
	overflow-y: hidden;
	height: 100%;

	color: white;
	font-family: 'Oswald', Arial, sans-serif;

	box-sizing: border-box;
	user-select: none;

	ul {
		padding: 0;
		list-style: none;
	}



  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .voiture {
      height: 360px;
    }
  }
  
  /* statistiques voiture */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    .nomVoiture {
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 48px;
    }
    .stats {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 100px;
  
      li {
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
      }
      .prix {
        padding: 5px 15px 2.5px;
        border: 2px solid rgba(255, 255, 255, 0.17);
        border-radius: 5px;
      
        font-weight: 500;
        font-size: 30px;
        color: #92FF5F;

		h2 {
			margin-bottom: 7.5px;
		}
      }
      h2 {	
        max-width: 150px;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
      }
      p {	
        margin: 0;
        margin-top: -15px;
      }
    }
  }
  
  /* boutons stats */
  .options {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 53px;
  
    .btn {
      margin: 0;
      padding:  10px 40px;
      background: #FFFFFFDD;
      box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
      border-radius: 60px;
    
      color: #3D4359;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 20px;
    
      cursor: pointer;
      transition: .2s;
  
      &:hover {
        background: #FFF;
        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.37);
      }
    }
    .essai {
      margin: 0;
      padding: 10px 40px;
      border: 2px solid rgba(255, 255, 255, 0.23);
      border-radius: 34px;
    
      color: #FFF;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 20px;
    
      cursor: pointer;
      transition: .2s;
  
      &:hover {
        color: #3D4359;
        background: #FFF;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
      }
    }
  }
  
  /* liste voitures */
  .menu {
    padding-bottom: 15px;
    max-width: 100%;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  
    overflow-x: scroll;
  
    &::-webkit-scrollbar {
      height: 4px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.16);
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: #FFF000;
      border-radius: 5px;
    }
    .voiture {
      margin: 0;
      padding: 10px;
      min-width: 150px;
      height: 150px;
    
      border: 2px solid  rgba(255, 255, 255, 0.21);
      border-radius: 5px;
    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
      cursor: pointer;
      transition: .2s;
  
      &.active {
        background: radial-gradient(48.08% 31.25% at 50% 41.56%, rgba(255, 232, 22, 0.26) 0%, rgba(255, 232, 22, 0) 100%);
        border: 2px solid #FFE816;
      }
      &:hover {
        border: 2px solid #FFE816;
      }
      img {
        max-width: 100%;
        width:  150px;
      }
      p {
        margin: 0;
        text-transform: uppercase;
      }
    }
  }
}