.context {
    display: flex;
    height: 100%;
    width: 100%;

    user-select: none;
    align-items: center;
    justify-content: center;

    .pointer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        position: absolute;
        top: calc(50% - 12.5px);
        left: calc(50% - 12.5px);
        transition: all 0.2s ease-in-out;
        z-index: 200;
        background-color: rgba(134, 134, 134, 0.575);

        &:hover {
            transform: scale(1.5); 
            cursor: pointer;
        }
    }

    .container {
        align-items: center;
        align-content: center;
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        z-index: 0; 
        font-family: "Akrobat";
        font-weight: 200;

        li {
            position: relative;
            list-style: none;
            width: 50%;
            line-height: 20px;
            box-sizing: border-box; 
        }
            
        li a {
            font-size: 16px;
            display: inline-block;
            text-decoration: none; 
            text-align: center;
            color: rgba(255, 255, 255, 0.85);
            background: linear-gradient(to right, rgba(134, 134, 134, 0.575), rgba(134, 134, 134, 0.4));
            padding: 9px 18px 9px 0;
            margin: 20px 30px;
            transition: all 0.2s ease-in-out;
            will-change: transform; 
            fill: #fff;
            transform: scale(1.1); 

            span {
                margin-bottom: 3px;
            }
        }
        
        li a:hover {
            transform: scale(1.2); 
            fill: #7AF903;
            color: #7AF903;
            background: linear-gradient(to right, #7af90388, #7af9036e);
        }

        li a .emoji {
            font-size: 17px;
            margin-right: 7.5px;
            margin-bottom: 1px;

            display: inline-block;
            vertical-align: middle; 
        }

        li:nth-child(odd) {
            text-align: right;
            right: 60px;
            transform-origin: right center; 
        }

        li:nth-child(even) {
            left: 60px;
            transform-origin: left center; 
        }

        li:nth-child(1), li:nth-last-child(2) {
            right: 20px; 
        }

        li:nth-child(2), li:nth-last-child(1) {
            left: 20px; 
        }
    }
}

