@font-face {
	font-family: Natural Mono Regular;
	src: url("NaturalMonoRegular.ttf");
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	font-family: Natural Mono Regular;
	cursor: none;
}

.background {
	position: absolute;
	top: 0px;

	height: 100%;
	width: 100%;
	z-index: -1;
	filter: grayscale(1) saturate(95%) brightness(95%) contrast(65%);
}

/* music container */
.music-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
}
.music-warp-container {
	display: flex;
	flex-direction: column;
}
.music-volume {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#musicDesc {
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black, 1px 1px 1px black; /* Параметры тени */
}
#musicVolumeIcon {
	width: 32px;
}
input[type="range"]#musicVolumeSlider {
	-webkit-appearance: none;
	cursor: none;
	width: 100%;
	height: 2px;
	background: rgba(255, 255, 255, 0.8);
}
input[type="range"]#musicVolumeSlider::-webkit-slider-runnable-track {
}
input[type="range"]#musicVolumeSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	border: 1px solid rgb(215, 215, 215);
	background-color: rgb(255, 255, 255);
}

/* banner */
.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#banner {
	width: 1280px;
	height: 720px;
	overflow: hidden;
	user-select: none;

	transform: scale3d(1, 1, 1);
	transition: all 0.15s ease-out, filter 0.75s ease-out;
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.15);
}
#banner:hover {
	box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Banner HEAD */
.banner-head {
	display: flex;
	justify-content: center;

	height: 100px;
	width: 100%;
	color: #fff;

	position: absolute;
	top: 10px;
}
#menu {
	display: flex;

	position: absolute;
	top: 10px;
	left: 16px;

	color: #fff;
	width: 100%;
}
.menu-item {
	text-transform: uppercase;
	border: 1px solid rgba(0, 0, 0, 0);
	transition: all 1s ease-out;
	padding: 3px 6px;
}
.menu-item:hover {
	border: 1px solid #fff;
}
.menu-item-active {
	border: 1px solid #fff;
}
.banner-logo {
	position: absolute;
	right: 10px;
	width: 32px;
	z-index: -10;
}

/* overlays */
#cardCharacter {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	z-index: -10;
}
#cardBackground {
	position: absolute;
	top: -1%;
	left: -1%;

	width: 103%;
	height: 103%;

	z-index: -10;
	transform: scale(1.25);
	transition: all 0.3s ease-out, transform 0.3s ease-out, filter 0.75s ease-out;
}
.overlay-shadow {
	position: absolute;
	top: 0%;
	z-index: -10;
	height: 100%;
	width: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.65) 30%, rgba(0, 0, 0, 0.65) 70%, rgba(0, 0, 0, 0.6) 100%);
}
#overlayShine {
	position: absolute;
	top: 0%;

	height: 100%;
	width: 100%;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 80%);
}
.overlay-gray {
	filter: grayscale(0.6) saturate(95%) brightness(95%) contrast(90%);
}

/* cursor */
#cursor {
	position: fixed;
	width: 20px;
	z-index: 100;
	pointer-events: none;
}

/* LOAD BAR */
.loadbar {
	position: absolute;
	bottom: 0px;

	z-index: -10;
	height: 8px;
	width: 100%;
	background: rgb(50, 50, 50);
}
.progress-loadbar {
	width: 60%;
	height: 100%;
	background: rgb(255, 255, 255);
}

/* CUSTOM SLIDER */
.slider-info {
	display: flex;
	flex-direction: column;
	z-index: 1;
	width: 100%;
	overflow-y: scroll;
}
/* CUSTUM SLIDER -CHROME */
.slider-info::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.slider-info::-webkit-scrollbar-thumb {
	/* 5 - ползунок */
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 12px;
}

/* NEWS */
.news-item {
	display: flex;
	padding: 10px;
	background: rgba(0, 0, 0, 0.6);
}
.warp-news-item {
	padding-bottom: 15px;
}
.news-img {
	width: 264px;
}
.news-info {
	padding-left: 15px;
}
.news-title {
	font-size: 30px;
	padding-bottom: 10px;
}
.news-desc {
	opacity: 0.7;
	padding-right: 10px;
}
.news-delimiter {
	height: 60px;
	background: rgba(0, 0, 0, 0.8);
}
/* RULES */
.item-rules {
	padding: 10px;
	background: rgba(0, 0, 0, 0.6);
}
.rules-tittle {
	font-size: 30px;
	padding-bottom: 10px;
}
/* CONTACT */
.content-item {
	display: flex;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
}
.contact-discord {
	font-size: 32px;
	user-select: text;
}
.contact-title {
	font-size: 18px;
	text-transform: uppercase;
	opacity: 0.6;
}
.contact-desc {
	padding-top: 12px;
	font-size: 16px;
}
.contact-avatar {
	height: 128px;
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.content-page {
	display: flex;
	justify-content: center;

	position: absolute;
	top: 80px;
	left: 30px;

	color: #fff;
	height: 600px;
	width: 770px;

	border: 1px solid rgba(255, 255, 255, 0);
}
/* HOME */
.home-video-content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: absolute;
	top: 260px;
	left: 10px;
}
.server-name-overlay {
	position: absolute;
	top: 70px;
	left: -50%;
	z-index: -10;

	opacity: 0.1;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	font-size: 235px;
	width: 200%;
	height: 100px;
}
.home-title {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: absolute;
	top: 75px;
	left: 10px;

	text-transform: uppercase;
}
.server-name {
	font-size: 80px;
	width: 100%;
}
.server-link {
	font-size: 22px;
	width: 100%;

	user-select: text;
	text-align: right;
	text-transform: lowercase;
}
.home-video-title {
	font-size: 32px;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.home-video {
	display: flex;
	justify-content: center;
}
.videoPlayer {
	height: 230px;
}
.video-block {
	display: flex;
	justify-content: center;

	max-width: 800px;
	margin: 0 auto;
	z-index: 1;
}
