#needs {
	position: absolute;
	top: 0;
	right: 2.4vw;

	> div {
		transform: skew(-2deg, 2deg);
		height: 0.6vw;
		width: 8vw;
		background: #373435aa;
		display: block;
		border-radius: 4px;
		margin-top: 1.3vw;
		position: relative;

		&:first-child {
			margin-top: 3.4vw;
		}
	}

	> div,
	.icon {
		border: 1px solid;
	}

	.progress {
		height: 100%;
	}

	.hunger {
		border-color: rgba(251, 137, 54, 1);
		.progress {
			background: rgb(251, 184, 54);
			background: linear-gradient(90deg, rgba(251, 184, 54, 1) 0%, rgba(251, 137, 54, 1) 100%);
		}

		.icon {
			border-color: rgba(251, 137, 54, 1);
		}

		img {
			height: 1.2vw;
		}
	}

	.thirst {
		border-color: rgba(15, 179, 218, 1);

		.progress {
			background: rgb(28, 238, 202);
			background: linear-gradient(90deg, rgba(28, 238, 202, 1) 0%, rgba(15, 179, 218, 1) 100%);
		}

		.icon {
			border-color: rgba(15, 179, 218, 1);
		}

		img {
			height: 1vw;
		}
	}

	.icon {
		height: 1.6vw;
		width: 1.6vw;
		background: #373435;
		position: absolute;
		right: -1.2vw;
		top: -0.7vw;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
