body {
	height: 90vh;
    overflow: hidden;

	/* height: 90vh;

	background: rgba(0, 0, 0, 0.7);
    background-image: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px; */
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -99;
    overflow: hidden;

	z-index: 2;

}

.content {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

	height: 100%;
	width: 100%;

	/* background-color: #030303; */
	background: #030303;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: none;

	z-index: 5;
}

@keyframes mymove {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;

	}

	100% {
		opacity: 1;
	}
  }

.blur {
	position: absolute;
	bottom: -400px;

	height: 800px;
	width: 95%;


	filter: blur(150px);
	border-radius: 55%;
	background-color: #095e03;
}

.logo {
	height: 150px;

	animation-duration: 5s;
	animation-name: mymove;
	animation-iteration-count: infinite;
}

.loadbar {

	height: 2px;
	width: 120px;
	background: rgb(41, 41, 41);
	transition-duration: 500ms;
}

.progress-loadbar {
	width: 60%;
	height: 100%;
	background: #9dde8e;
	transition-duration: 500ms;
}

