#context-menu-container {
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	* {
		position: relative;
		margin: 0;
		padding: 0;
		outline: 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: Arial, Helvetica, sans-serif;
	}

	a {
		display: block;
		text-decoration: none;
	}

	.crosshair {
		text-align: center;
		cursor: pointer;
		width: 24px;
		height: 24px;
		top: calc(50% - 12px);
		left: calc(50% - 12px);
		border: 1px solid #ffffff;
		border-radius: 100%;
		position: absolute;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		background: #ffffff url("../assets/menu/close.png") no-repeat 6px 6px;
		background-size: 45%;

		&:hover {
			transform: scale(1.2);
		}
	}

	.menu {
		cursor: pointer;
		align-items: center;
		align-content: center;
		height: 100%;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		top: 0;
		z-index: 0;
	}

	.menu li {
		list-style: none;
		width: 50%;
		line-height: 20px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.menu li div {
		font-size: 20px;
		display: inline-block;
		color: #181b20;
		background: white;
		border-radius: 30px;
		padding: 10px 20px 10px 18px;
		margin: 10px 0;
		transition: all 0.2s ease-in-out;
		will-change: transform;

		&:hover {
			transform: scale(1.1);
		}
	}

	.menu img {
		object-fit: contain;
		background-position: center center;
		margin-right: 8px;
	}

	.menu li:nth-child(odd) {
		text-align: right;
		right: 20px;
		-webkit-transform-origin: right center;
		-ms-transform-origin: right center;
		transform-origin: right center;
	}

	.menu li:nth-child(even) {
		left: 20px;
		-webkit-transform-origin: left center;
		-ms-transform-origin: left center;
		transform-origin: left center;
	}
}
