#hud {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity 0.2s;

	background-color: #101010;

	// dev background
	// background-image: url("https://cdn.discordapp.com/attachments/392980227263037450/891124205641420850/Capture.jpg");
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center bottom;
}

#notifications-hud {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

