#animations {
    height: 450px;
    width: 400px;


}

    
.dark {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.10));
}

.light {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.10));
}